footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;
    font-size: 1rem;
    background-color: #6a6d6bb0;
}

.parrafoFooter{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}


.logoimg {
    padding: 1px;
    border-radius: 1px;
    max-width: 3rem;
    max-height: 3rem;
}

@media(max-width:366px) {
    footer {
        align-items: normal;
    }
}